/*
Program name: style.css
Author: Miya Donato
Date created: 02/14/2026
Date last edited: 02/20/2026
Version: 1.0
Description: External CSS for Homework 1. 
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e8f5e9;   /* light green background*/
  color: #111;
  margin: 0;
}

h1 {
    margin: 0;
    color; #ffffff;          /*white text in banner*/
}

p {
    margin: 4px 0 0 0;
}

/* ID SELECTORS*/

#banner {
  background-color:  #1b5e20;    /*dark green footer*/
  color: white;
  padding: 15px;
  text-align: center;
}

/* CLASS SELECTORS*/

.formtable {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  width: 100%
  max-width: 950px;
  margin: 0 auto;      /* center the form table*/
  border-collapse: collapse;
}

.formtable th {
    background-color: #c8e6c9; /* light green header row*/
    color: #1b5e20;
    padding: 10px;
    border: 1px solid #cccccc;
    text-align: left;
}

.formtable td {
    padding: 8px;
    border: 1px solid #dddddd;
}

/* FORM ELEMENTS */

input, select, textarea {
    padding: 6px;
    font-size: 14px;
}

textarea {
    width: 95%;
}

/* FOOTER BUTTON*/

#footer button {
    margin-top: 10px;
    padding: 8px 14px;
    cursor: pointer;
}

/* LINK + VISTED LINK */

a:link {
    color: #dcedc8;
    text-decoration: none;
}

a:visited {
    color: #b39ddb;
}

a:hover {
    text-decoration: underline;
}



  
